<div data-page="index" class="page" >                   
    <div class="navbar">
        <div class="navbar-inner" >
            <div class="left">
                <a href="#" class="open-panel link icon-only">
                    <i class="material-icons">&#xE5D2;</i>
                </a>
            </div>
            <div class="center">Mapa</div>
        </div>
        
    </div>

    <div class="page-content">
        <div id="map"  style="background: #2196f3;position: absolute;top: 50px;right: 0;left: 0;bottom: 0;"></div>
    </div>

    <script>Main.loadActivity('indexActivity');Main.backgroundTopHide();</script>
</div>