<div data-page="index2" class="page">
	<div class="navbar">
        <div class="navbar-inner" >
            <div class="left">
                <a href="#" class="open-panel link icon-only">
                    <i class="material-icons">&#xE5D2;</i>
                </a>
            </div>
            <div class="center">Index2</div>
        </div>
    </div>
    <div class="page-content with-subnavbar" id="map2" style="background-color: rgb(229, 227, 223);padding: 0;">
    	
    </div>
    <script>Main.loadActivity('index2Activity');</script>
</div>