.map {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    border: 2px solid #03A9F4;
    z-index: 5001;
}
/*
html {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
*/